
.links ul li{
  float: left;
  text-decoration: none;
  }
footer{
    color: rgb(236, 5, 5);
    background: rgb(201, 231, 170);
    font-size: 22px;
    text-align: center;
}
  
.links ul a{
    text-decoration: none;
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 70px;
    font-size: 32px;
    margin: 0 10px;
    color: rgb(0, 0, 0);
    display:inline-block;
    border-radius: 50%;
    position:relative;
    overflow:hidden;
  }

a:active{
    color: rgb(0, 117, 219);
}
footer .links a:hover{
    
    background: rgb(240, 119, 6);
}
footer .links a:visited{
    color: rgb(187, 0, 0);
}
  


  