.header{
    text-align: center;
    padding:30px;
    height: 3em;
    background:rgb(7, 24, 37); 
    word-spacing:7px;
    
}
.header a{
    color: rgb(241, 137, 0);
}
.baby{
    font-weight: bold;
    font-size: 25px;
}

.babby{
    float: right;
    font-size: 25px;
}

