<hr>
<footer>
  <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
  <span class="links">
  
      <b class="copyright"> © Bibek Chalise</b>
      <ul>
        <a href="https://www.facebook.com/IamBbek" class="fa fa-facebook"></a>
       <a href="https://twitter.com/I_am_Bbek" class="fa fa-twitter"></a> 
       <a href="https://www.linkedin.com/in/ImBbek/" class="fa fa-linkedin"></a> 
       <a href="https://github.com/bibekebib" class="fa fa-github"></a>
         <a href="https://www.instagram.com/im_bbek/" class="fa fa-instagram"></a>
      </ul>
  </span>
</footer>
