<html>
    {% include header.html %}
    <link href="/css/post.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="posts">
        <title>{{page.title }}</title>

        <i style="font-size:24px">
            {{ page.date | date: "%B %-d, %Y" }}
        </i>
        <br>
        <h2 class="pagetitle">{{page.title }}</h2>
        <b>
            <i aria-hidden="true" class="fa fa-user">
                {{ page.author }}</i>
            <br></b>
        <hr>
        <!-- {{page.feature-img}} -->

        {{ content | safe }}
        <!-- <temp data-prettydiff-ignore><temp data-prettydiff-ignore><script>
          console.log('hello');
          <!-- var a = {{content | safe}};
          window.alert(a.length); -->
                <!-- </script></temp> --> -->
        
                <!-- <temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><temp data-prettydiff-ignore><script>
  var a = {{content}};
  console.log(a.length);
    </script></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp></temp> -->

        <b>Tags</b><br>
        {{ page.tags.| join:' | '| append: '|' }}
        <hr>
        {% include disqus.html %}
    </div>


    {% include footer.html %}

</html>
