{% include header.html %}
<link rel="stylesheet" href="/css/post.css">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poiret+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="posts">
<title >{{page.title }}</title>

    <i style='font-size:24px'> {{ page.date | date: "%B %-d, %Y" }}
    </i>        
        <br>
        <h2 class="pagetitle" >{{page.title }}</h2>
        <b>
            <i class="fa fa-user" aria-hidden="true">  {{ page.author }}</i>
            <br></b>
        <hr>
        <!-- {{page.feature-img}} -->
    
          {{ content | safe }}
     
        
    
        <hr>
        {% include disqus.html %}
</div>




{% include footer.html %}

</html>
